button {
    all: unset;
    display: flex;
    gap: .75rem;
    align-items: center;
    background-color: var(--brand-dark);
    border-radius: .5rem;
    font-weight: 600;
    padding: .875rem 1.25rem;
    cursor: pointer;

    & span {
        background-image: url(../../assets/icons/ticket.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.25rem;
        height: 1.25rem;
    }

    &:hover, &:focus {
        background-color: var(--brand-mid);
    }
}

