input, textarea {
    appearance: none;
    
    width: 100%;
    background-color: var(--input-background);

    outline: 1px solid var(--input-stroke);
    border: 2px solid transparent;
    border-radius: .5rem;

    padding: .8125rem 1rem;

    font: var(--body-md);
    color: var(--input-placeholder);
}

label {
    font: var(--body-sm);
    color: var(--text-body);

    display: block;
    margin-bottom: .75rem;
}

textarea {
    resize: vertical;
}

input[type="datetime-local"] {
    text-transform: uppercase;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

input:focus, textarea:focus, input[type="datetime-local"]:focus-within {
    border-color: var(--brand-light);
    outline-offset: .1px;
}

