#app {
    display: grid;
    grid-template-columns: 35.9375% 64.0625%; /* (width x 100) / 1280 */

    height: 100vh;
    overflow: hidden;
}

aside {
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-position: center;
    padding: 2rem;

    & .aside-container {
        max-width: 21rem;
    }

    & img {
        width: 2.8rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    & p {
        font: var(--body-md);
        font-weight: 300;
        margin-top: .25rem;
    }
}

main {
    overflow: auto;
    padding: 5rem;

    & .main-container {
        max-width: 35rem;
        margin-right: auto;
    }
}